/* App Styles */
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

/* Table Styles */
table {
  border: 2px solid rgb(47, 197, 239);
  width: 700px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

/* Header Styles */
.header {
  height: 100px; 
  background-color: #294d71;
}
.header-text {
  text-align: center;
  align-content: center;
  color: white;
  font-size: 25px;
}
.nav-buttons {
  display: flex;
  justify-content: right;
}

.nav-button {
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 16px;
}


/* RoundForm Stlyes */
.form-body{
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
}

.form_input{
  width: 60%;
}

.footer{
  text-align: center;
}